.scrollTracker {
  z-index: 9000;
  /* ScrollTracker 9000 */
  height: 2px;
  inset: 0 0 auto;
  margin-top: 85px;
  position: fixed;
  transform-origin: left;
  width: 0;
}

.navbar {
  padding: 0;
  backdrop-filter: blur(4px);
}

.navContainer {
  margin: 0 auto;
}

.discordButton {
  border: 1px solid #7289da;
  color: #FFF;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: .2em;
}

.discordButton:hover,
.discordButton:active,
.discordButton:focus {
  scale: 1.125;
  transition: all 500ms;
}